/*
 * TBS MOI+ Board descrition (Marvell RD88F6282)
 *
 * Peter Horn <peter.horn@bluewin.ch>
 *
 * This file is licensed under the terms of the GNU General Public
 * License version 2.  This program is licensed "as is" without any
 * warranty of any kind, whether express or implied.
 */

/dts-v1/;
#include "kirkwood.dtsi"
#include "kirkwood-6282.dtsi"

/ {
	model = "TBS MOI+ TV Streaming Box";
	compatible = "tbs,moiplus", "marvell,kirkwood-88f6282", "marvell,kirkwood";


	memory {
		device_type = "memory";
		reg = <0x00000000 0x40000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200n8";
		stdout-path = &uart0;
	};

	mbus {
		pcie-controller {
			status = "okay";

			pcie@1,0 {
				status = "okay";
			};
		};
	};

	ocp@f1000000 {
		pinctrl: pin-controller@10000 {
			pinctrl-names = "default";
		};

		i2c@11000 {
			status = "okay";
		};

		serial@12000 {
			status = "okay";
		};
		serial@12100 {
			status = "disabled";
		};

		sata@80000 {
			status = "okay";
			nr-ports = <2>;
		};
	};
};

&nand {
	status = "okay";

	partition@0 {
		label = "u-boot";
		reg = <0x0000000 0x100000>;
		read-only;
	};

	partition@100000 {
		label = "uImage";
		reg = <0x0100000 0x800000>;
	};

	partition@900000 {
		label = "rootfs";
		reg = <0x0900000 0x1F700000>;
	};
};

&mdio {
	status = "okay";

	ethphy0: ethernet-phy@0 {
		reg = <0>;
	};
};

&eth0 {
	status = "okay";
	ethernet0-port@0 {
		phy-handle = <&ethphy0>;
	};
};

